/*GENERALE*/
* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0;
}
html{
  font-family: sans-serif; /*Verdana, Arial, Helvetica*/
  max-width: 1800px;
  vertical-align: middle;
  margin: auto;
  height: 100%;
  /*background-color: rgba(246,173,123,0.2);*/
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}
/*HEADER*/
#hrow_1{
  z-index: 1;
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 1800px;
  height: 70px;
  border-bottom: 5px solid #f6ad7b;

}
#hamburger{
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0.5em;
  max-width: 50px;
}
/*dropdownmenu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 70px;
  left: 0;
  background-color: rgba(1,1,1,0.92);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(230,230,230);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: rgba(246,173,123,1);
}
.sidenav li:hover {
  border-left: 3px solid rgba(246,173,123,1);
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}
/*fine dropdown*/
#logo_head{
  height: 50px;
  margin-bottom: 5px;
}
#user_logo{
  display: inline-block;
  float: right;
  margin-right: 1em;
  margin-left: 2em;
  margin-top: 10px;
  max-width: 35px;
}
.topnav{
  display: inline-block;
  float: right;
}
.button{
  background-color: white;
  border: 2px solid #f6ad7b;
  color: black;
  padding: 5px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover{
  background-color: #f6ad7b
}
.topnav input[type=text] {
  padding: 9px;
  margin-bottom: 0px;
  margin-right: 5px;
  border-left: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #ccc;
}
#hrow_2{
  padding-top:70px;
}
#menuList {
    list-style-type: none;
    overflow: hidden;
    background-color: #f6ad7b;
}
#menuList li {
    float: left;
}
#menuList li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}
#menuList li a:hover:not(.active) {
    background-color:  rgba(246,173,123,0.2);
}
#menuList li a.active {
    background-color:  rgba(246,173,123,0.4); /*#f6ad7b*/
}
#menuList li.stayright{
  float: right;
}
#breadcrumb ul{
  /*background-color: #f2eee5;*/
  background-color: rgba(246,173,123,0.4);
  list-style-type: none;
}
#breadcrumb li.stayright{
  float: right;
}
#breadcrumb li {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
/*FOOTER*/
#logo_freccia{
  height: 30px;
  width: auto;
  padding: 8px;
  border: 4px solid rgba(246,173,123,0.4);
  border-radius: 10px;
  bottom: 2em;
  right: 2em;
  position: fixed;
}
#footer{
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: #F7A46D;
  top: 100%;
  width: 100%;
  max-width: 1800px;
  margin-top: 40px;
}
#LogoFooter{
  float: left;
  overflow: hidden;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  display: inline-block;
}
#footer ul{
  display: inline-block;
  list-style: none;
  text-align: center;
}
#footer ul li{
  margin: 5px;
}
#validity{
  float: right;
  width: 250px;
}
/*CONTENT*/
/*riga titolo*/
#content{
  max-width: 1400px; /*più stretto del body che è 1800*/
  margin: auto;
  margin-top:20px;
  padding: 2em 2em;
  color:#000!important;
  /*background-color: rgba(246,173,123,0.2)!important;/*#f1f1f1!important;*/*/
}
#intro{
  /*max-*/width: 100%;
  /*background-color: rgba(246,173,123,0.2);*/
  margin: auto;
  border-left: 4px solid rgba(246,173,123,1);

}
h2 {
  margin-bottom: 20px;
}
#intro h2{
  padding: 5px;
  font-size: 1.6em;
  float: left;
  padding: 10px 10px;
  background-color: #fff;
  width: auto;
  min-width: 30%;
  max-width: 50%;
  /*width: 30%;*/
  margin-bottom: 0;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
/*paragrafi*/
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  border-right: 4px solid rgba(246,173,123,1);
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
h3{
  margin-left:20px;
  font-size: 1.3em;
  padding-top:20px;
}
h4{
  margin-top: 20px;
  margin-left:20px;
  font-size: 1em;
}
.row p{
  padding: 20px;
}
.row ul{
  list-style-type: none;
  margin-left: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
}
.row li{
  padding: 2px;
}
i{
    word-wrap: break-word;
}
.grassetto{
  font-weight: bold;
}

/*ricette consigliate*/
.rowconsigliate{
	max-width: 1400px;
	height: auto;
	margin: auto;
	display: flex;
  	flex-wrap: wrap;
}
.gallery {
  /*border: 1px solid #ccc;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery:hover {
 	box-shadow: 0 4px 8px 0 rgba(246,173,123,0.8), 0 6px 20px 0 rgba(246,173,123,1);
}
.gallery a{
  background-color: #fff;
}
.gallery img {
  width: 100%;
  height: auto;
}
.desc {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}
.responsive {
  padding: 10px 10px;
  float: left;
  width: 25%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
/*ricetta*/
.button1 {
  max-width: 20%;
  min-width: 90px;
  padding: 15px 32px;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  background-color: rgba(246,173,123,1);
  cursor: pointer;
  float: right;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: rgba(56,52,40,0.8);
  color:white;
}
.likes {
   margin-left: 20px;
}
#col_sx{
  float: left;
  width: 30%;
  min-width: 100px;
}
#col_dx{
  width: 70%;
  min-width: 500px;
}
#col_dx ul {
  list-style-type: none;
  margin: 20px;
}
#col_dx ul li {
  padding: 5px;
  font-size: 1.2em;
}
#col_sx ul {
  margin:20px;
  padding-left: 30px;
}
#col_sx ul li {
  padding: 5px;
  font-size: 1.2em;
}
#img_ricetta{
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
textarea:focus{
  border: 3px solid rgba(246,173,123,1);
}
/*ricerca*/
#infoBox{
  padding-top: 15px;
	max-width: 1400px;
	height: auto;
	margin: auto;
  margin-bottom: 30px;
}
#ricercatext h3{
  display: inline;
  vertical-align: top;
}
#ricercatext p{
  vertical-align: top;
  display: inline;
  font-size: 1.5em;
  padding-left: 1em;
}
#nrisultati p{
	font-size: 0.8em;
	margin-left: 1.5em;
}

/*home*/
#ricettaGiorno{
  color: white;
  height: 600px;
  width: 950px;
  margin: 20px auto;
}
#ricettaGiorno img{
  height: 600px;
  width: auto;
}
#textGiorno{
  position: absolute;
  font-size: 150%;
  top: 300px;
  left: 50px;
  /*margin: 0 auto;*/
  margin-left: 20%;
}
#textGiorno h2, #textGiorno p{
  padding: 10px 20px;
  margin: 7px;
  background-color: rgba(0,0,0,0.7);
}
#search {
display: flex;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#search input[type="text"] {
  flex-grow: 1;
  border-left: 3px solid #f6ad7b;
  border-top: 3px solid #f6ad7b;
  border-bottom: 3px solid #f6ad7b;
  font-size: 1em;
  padding: 5px;
}

#search button {
  height: 60px;
  width: 100px;
  margin: 0px;
  margin-left: -3px;
  font-size: 1em;
  border: 3px solid #f6ad7b;
}

/*FUNZIONALITA*/
#flex-funzionalita {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.funzionalitaBox {
  margin: 20px;
  padding: 30px;
  width: 300px;
  height: 150px;
  background-color: #f6ad7b;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.funzionalitaBox:hover{
  color: white;
  background-color: #444;
}
.funzionalitaBox p{
  margin-top: 10%;
}
/*registrazione*/
#boxwrapper h3{
  padding-bottom: 15px;
  margin-left: 0px;
  font-size: 2em;
}
#boxwrapper p{
  padding: 15px 0px;
}
#boxwrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 701px;
  min-width: 360px;
  margin: 0 auto;
  border: 5px solid rgb(246,173,123);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  padding: 30px;
}
.Box{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: inline-block;
  padding: 15px;
}

.inputbar{
  width: 90%;
}

.Box input[type=text]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
}

.Box input[type=text]:focus{
    border-bottom: 2px solid rgb(246,173,123);
}

.button{
  margin-top: 15px;
}
#errors p{
	text-align: center;
	color: red;
}
/*utente*/
.rowUtente{
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}
.leftcolumn {
  float: left;
  width: 30%;
}
.rightcolumn {
  float: left;
  width: 70%;
  background-color: #fff;
  padding-left: 20px;
}
#userImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 80%;
  border-radius: 50%;
  padding: 20px;
  border: 2px solid black;
}
.button2 {
  width: 100%;
  background-color: rgba(246,173,123,1);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

#bio{
  height: 300px;
}
/*modifiche*/

.comment-section{
    list-style: none;
    max-width: 1400px;
    width: 90%;
    margin: 50px auto;
    margin-top: 20px;
    padding: 10px;
}
.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 35px;
    margin-top: 20px;
    flex-wrap: wrap;
	color:  #505050;
}
/* User and time info */
.comment .info{
    width: auto;
	order: 3;
}
.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0 3px 0;
}
/* The comment text */

.comment p{
    line-height: 1.5em;
    padding: 18px 22px;
    width: 100%;
    position: relative;
    word-wrap: break-word;
}
.comment p{
    order: 1;
    background-color:  rgba(246,173,123,0.2);
	border-left: 3px solid rgba(246,173,123,1);
}
.comment p:after{
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
}

/* Comment form */

.write-new{
    margin: 50px auto 0;
    width: 90%;
    height: 200px;;
}
.write-new textarea{
    color:  #444;
    font: inherit;
    outline: none;
    border-radius: 3px;
    border: 2px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}
.write-new textarea:focus{
    border: 3px solid rgba(246,173,123,1);
}
.write-new button{
    float:right;
    background-color:  rgba(246,173,123,1);
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #505050;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 18px;
}

/* ERROR 404 */
.parent-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.text-content{
  text-align: center;
}

.text-content h1{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.text-content h2{
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.text-content a{
  text-decoration: none;
  color: black;
  border: 2px solid #f6ad7b;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.4s;
}

.text-content a:hover{
  background: #f6ad7b;
}

#img-404{
  width: 40%;
}
