#header{
	display: none;
}

#footer{
	display:none;
}

@page{
	size: 210mm 297mm;
	margin: 30mm;
}

main{
	width: auto; 
    float: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 13pt;
	background: #fff !important;
	color: #000;
	/*text-align: center;*/
}

main p{
	line-height: 150%;
}

li{
	margin: 5px 0px 5px 5px;
}

a{
	margin: 5px 0px 5px 0px;
}


a[href]:after{content: "(" attr(href) ")"}

h1, h2, h3, h4, h5, h6 { 
    page-break-after:avoid; 
    page-break-inside:avoid 
}

/* HOME */

#wrapperHome {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: center;*/
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
  page-break-inside: avoid;
  page-break-after: always;
}

.HomeBox {
  margin: 20px;
  padding: 30px;
  width: 250px;
  height: 150px;
  background-color: #ab;
  text-align: center;
  border-radius: 15px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  page-break-inside: avoid;
}

.HomeBox p{
	line-height: 150%;
}

.trainBoxWrapper{
	margin-left: 20px;
}

.trainBox{
	page-break-inside: avoid;
}

.trainBox h3{
	margin-bottom: 0.5em
}
.trainBox p{
	margin-top: 0.5em;
}

/* IMG */

img{ 
    page-break-inside:avoid;   
    page-break-after:avoid; 
    height: 6em;
    width: auto;
}

.trainbox img{
    width: 25em;
    height: auto;
}

/* ADMIN PANEL */

.LoginSignupBox .button{
	margin-top: 25px;
}

/* CATEGORIA */

#catLeft, #catRight{
	page-break-inside: avoid;
}


/*PAGINA DI RICERCA */

#searchBarBox{
	display: none;
}

.card{
	page-break-inside: avoid;
  	width: 100%;
  	background: #fff;
  	border: 2px solid;
  	border-radius: 0 20px 20px 0;
  	margin-bottom: 50px;
}
.card-header{
 	color: #fff;
  	float:left;
  	max-width: 200px;
  	max-height: 200px;
}
.card-body{
  	padding: 16px 20px;
  	text-align: left;
  	font-size: 18px;

}
.card-body ul{
  	list-style: none;
}
.card-body ul li{
  	text-align: center;
  	padding-bottom: 3px;
}
.card-body .btn{

  	text-align: left;
  	background: #294173;
  	padding: 10px 5px;
}

.img-left{
  	height: 200px;
  	width: 200px;
}


/* TRENO */

#trainHeader .button{
	display: none;
}

/* modificare html: l'h2 non è compreso in #descrizione
#descrizione{
	page-break-inside: avoid;
}
*/

.comment{
	page-break-inside: avoid;
}

.eliminacommenti{
	display: none;
}

#write-new{
	display: none;
}

/* UTENTE */

#editbioform{
    display: none;
}