@import url("style_desktop.css");
#hrow1{
	padding: 10px;
	justify-content: normal;
}
#logo {
  /*margin-bottom: 10px;*/
  width: 70%;
  float: left;
}
.leftCol {
width: 100%
}
#utenteTop{
  /*margin-top: 20px;*/
  float: right;
}
/*#hrow2{
  display:inline-block;
}*/
.stayLeft, .stayRight{
  width: inherit;
}
.menuList li {
  float: none;
}
.menuList li a {
  display: block;
}
.stayRight li a {
  background-color: #232f46;
}

#menuUser{
  background-color: #232f46;
  margin-top: 75px;
}

@media screen and (max-width: 440px) {
  .search-box{
    width: auto;
  }
  select{
    margin: 20px;
  }
}

footer{
  height: auto;
}
#main-content{
  display: inline-block;
}

#hamburger{
	display: inline-block;
	float: right;
	margin-top: 10px;
}
/*header da mostrare*/
#showDesktopSearch, #hrow2{
	display: none
}
#hrow3{
	padding-top:83px;
	width: 100%;
	height: auto;
	background-color: #294173 /*#1a1e23*/;

	align-items: center;
}
#sceltaCategorie {
	margin: 10px;
}
#breadcrumb{
	display:none;
}
h1{
	padding-top:100px;
}