@import url("style_desktop.css");
#hrow1{
	padding: 0.6rem;
	justify-content: normal;
}
form#searchPage {
    padding-top: 6rem;
}
.AggiuntaTreno .inputbar{
	width: 90%;
}
#logo {
  width: 70%;
  float: left;
}
.leftCol {
	width: 100%
}
#utenteTop{
  float: right;
}
.stayLeft, .stayRight{
  width: inherit;
}
.menuList li {
  float: none;
}
.menuList li a {
  display: block;
}
.stayRight li a {
  background-color: #232f46;
}

#menuUser{
  background-color: #232f46;
  margin-top: 4.7rem;
}

@media screen and (max-width: 440px) {
  .search-box{
    width: auto;
  }
  select{
    margin: 1.2rem;
  }
}

footer{
  height: auto;
}
#main-content{
  display: inline-block;
}

#hamburger{
	display: block;
	float: right;
	margin-top: 0.6rem;
}
/*header da mostrare*/
#showDesktopSearch, #hrow2{
	display: none
}
#hrow3{
	padding-top:5.19rem;
	width: 100%;
	height: auto;
	background-color: #294173 /*#1a1e23*/;

	align-items: center;
}
.sceltaCategorie {
	margin: 0.6rem;
}
#breadcrumb{
	display:none;
}
h1{
	padding-top:6.25rem;
}


