/*
Colori utilizzati:
#f6f5f3
#1a1e23
#a8c1dc
background-color: red;
*/

/*All pages*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-family: Verdana, sans-serif;
  max-width: 1800px;
  vertical-align: middle;
  margin: auto;

}
body {
  height: 100%;
	background-color: #f6f5f3!important;
	color: #292929;
	text-align: center;
}
h1, h2, h3 {
	padding: 4px;
	margin:15px;
	text-align: center;
}

p {
	padding: 10px;
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}

#container{
  min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 200px;
}

/*HEADER 1*/
header{
  width: 100%;
  max-width: 1800px;
  position: fixed;
}
#hrow1 {
	width: 100%;
	background-color: #232f46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
#logo {
  max-width: 300px;
	max-height: 60px;
	cursor: pointer;
}
#utenteTop {
  max-width: 60px;
	max-height: 60px;
	cursor: pointer;
}

#search{
  float: right;
}

select{
  margin: 0 10px;
  padding: 10px;
  float: left;
  border-radius: 40px;
  font-size: 16px;
}

.search-box{
  width: 300px;
  background: white;
  border-radius: 40px;
  height: 40px;
  padding: 10px;
  float: right;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float:left;
  padding: 0;
  color: black;
  font-size: 18px;
  line-height: 10px;
}

/*HEADER 2*/

#hrow2 {
	width: 100%;
  height: auto;
	background-color: #294173/*#1a1e23*/;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hrow2 ul{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}
.menuList li {
	float: left;
  font-size: 16px;
}
.menuList li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 30px;
  text-decoration: none;
}
.menuList li a:hover {
  background-color: rgba(83,131,232,0.8);
  transition: 0.4s;
}
#spec {
  background-color: #294173/*#a8c1dc*/;
  display: block;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
}
#stayLeft{
  float: left;
}
#stayRight{
  float: right;
}

/*FOOTER*/

footer{
  overflow: hidden;
  position: relative;
  height: 300px;
  max-width: 1800px;
  width: 100%;
  margin-top: -300px;
  clear: both;
  background-color: #232f46;
  color: white;
}
#main-content{
  display: flex;
}
#main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
}
.left .content p{
  text-align: justify;
}
.center .social{
  margin: 20px 0 20px 0;
}
.center .social a{
  padding: 0 10px;
}
.center .social a span{
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #a8c1dc;
  color: black;
}
.center .social a span:hover{
  background-color: white;
}
.right .content span {
  margin: 10px;
}
#validity {
	display: block;
	float: right;
}
#torna_su {
	margin: 10px;
}
#LogoFooter{
  margin: 10px;
}
#about{
  float:left;
  margin-left: 10px;
}

/* LOGIN E REGISTRAZIONE */

.LoginSignupBox{
  display: inline-block;
  border: 5px solid lightblue;
  border-radius: 10px;

}
.inputbar{
  width: 90%;
}
.LoginSignupBox input[type=text]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
}
.LoginSignupBox input[type=text]:focus{
    border-bottom: 2px solid rgb(246,173,123);
}
.LoginSignupBox input[type=text]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
}
.LoginSignupBox input[type=text]:focus{
    border-bottom: 2px solid rgb(246,173,123);
}
.LoginSignupBox input[type=password]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
}
.LoginSignupBox input[type=password]:focus{
    border-bottom: 2px solid rgb(246,173,123);
}

/* ADMIN PANEL */

.AdminPanelBox{
  width: 100%;
}

/* RICERCA */

#SearchBox{ width: 100%;}
.SearchBarBox{ width: 100%;}
#SceltaCategorieRicerca{ width: 100%;}
.rowconsigliate{
	max-width: 1400px;
	height: auto;
	margin: auto;
	display: flex;
  flex-wrap: wrap;
}
.clear{}

.desc ul{
  list-style-type: none;
}

/* ABOUT */

#aboutList {
	/*text-align: left;*/
	margin: 10px;
	list-style-type: none;
}
#aboutList li{
	padding: 2px;
}

/* CATEGORIA */

#wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 1em 5em;
}

#wrapper > div {
	min-width: 300px;
	max-width: 400px;
	margin: 1em;
	background-color: #5383e8;
	border-radius: 15px 50px;
	padding: 10px;
}

/* HOME [da copiare l'home vecchia]*/

#wrapperHome {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 1em 5em;
}

#wrapperHome > div {
	text-align: center;
	min-height: 150px;
	max-width: 150px;
	flex-basis: 0px;
	margin: 1em;
	background-color: #5383e8;
	padding: 10px;
}
