/*All pages*/

.utenteAction{
	display: inline-block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  font-family: Verdana, sans-serif;
  max-width: 100rem;
  vertical-align: middle;
  margin: auto;

}
label{
	display: block;
	padding: 1rem;
}
.hidden{
	display: none;
}
body {
  height: 100%;
	background-color: #f6f5f3!important;
	color: #292929;
	text-align: center;
}
h1, h2, h3 {
	padding: 1rem;
	padding-left: 0;
	text-align: center;
}

p {
	padding: 0.7rem;
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}

#container{
  min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 12.5rem;
}

.button{
  border: 2px solid #ADD8E6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.3rem 0.9rem;
  margin: 0.4rem 2px;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background-color: #ADD8E6;
}

/*HEADER 1*/
header{

  width: 100%;
  max-width: 100rem;

}
#hrow1 {
		z-index: 1;
	max-width: 100rem;
	position: fixed;
	width: 100%;
	background-color: #232f46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.2rem;
}
.search-btn {
	border: 0;
	background-color:#FFF;
	float: right;
}
.search-btn:hover{cursor:pointer;}
#logo {
  max-width: 18rem;
	max-height: 3.8rem;
	cursor: pointer;
}
#hamburger{
  max-width: 3rem;
  max-height: 3rem;
  display: none;
}
#utenteTop {
  max-width: 3.8rem;
	max-height: 3.8rem;
	cursor: pointer;
  display: block;
  float:right;
}
#search{
  float: right;
}

select{
	vertical-align: middle;
	margin-right: 0.6rem;
  padding: 0.6rem;
	display: inline-block;
  border-radius: 2.5rem;
  font-size: 1rem;
  height: 2.2rem;
}
.search-box{
	vertical-align: middle;
  width: 19rem;
  background: #FFF;
  border-radius: 2.5rem;
  height: 2.2rem;
  padding: 0.6rem;
	display: inline-block;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float:left;
  padding: 0;
  color: #000;
  font-size: 1rem;
  line-height: 0.6rem;
}

/*#myLinks{
	display: block;
}*/
/*HEADER 2*/
#breadcrumb {
	background-color: #ADD8E6;
	text-align: left;
}

#hrow2 {
	padding-top:8rem;
	width: 100%;
  height: auto;
	background-color: #294173 /*#1a1e23*/;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hrow2 ul{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}
.menuList li {
	float: left;
  font-size: 1rem;
}
.menuList li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}
.menuList li a:hover {
  background-color: rgba(83,131,232,0.8);
  transition: 0.4s;
}
#spec {
  background-color: #232f46;
  display: block;
  height: 100%;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}
.stayLeft{
  float: left;
}
.stayRight{
  float: right;
}

#menuUser{
  color: #FFF;
  background-color:#294173;
  width: 10%;
  float: right;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  min-width: 7.8rem;
}
#menuUser ul{
  list-style-type: none;
}
/*FOOTER*/

footer{
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  background-color: #232f46;
  color: #FFF;
  top: 100%;
  width: 100%;
  max-width: 100rem;
  margin-top: 12.5rem;
}
footer a{
	color:FFA500;
}
#main-content{
  display: flex;
}
#main-content .box{
  flex-basis: 50%;
  padding: 0.6rem 1.2rem;
}
.box h2{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 1.2rem 0 0 0;
}
.left .content p{
  text-align: justify;
}
.center .social{
  margin: 1.2rem 0 1.2rem 0;
}
.center .social a{
  padding: 0 0.6rem;
}
.center .social a span{
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 50%;
  transition: 0.3s;
  background-color: #a8c1dc;
  color: #000;
}
.center .social a span:hover{
  background-color: #FFF;
}
.right .content span {
  margin: 0.6rem;
}
#validity {
	display: block;
	float: right;
}
#torna_su {
	margin: 0.6rem;
}
#LogoFooter{
  margin: 0.6rem;
}
#about{
  float:left;
  margin-left: 0.6rem;
}

/* ABOUT */

#aboutList {
	/*text-align: left;*/
	margin: 0.6rem;
	list-style-type: none;
}
#aboutList li{
	padding: 2px;
}

/* CATEGORIA */

#wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 1em 5em;
}

.cat {
	min-width: 18.8rem;
	max-width: 25rem;
	margin: 1em;
	background-color: #294173;
	border-radius: 1rem 3.1rem;
	padding: 0.6rem;
	color: #FFF;
}
.cat a{
	color: #FFA500;
}

/* HOME */

#wrapperHome {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 75em;
  margin: 0 auto;
  margin-top: 2.2rem;
}

.HomeBox {
  margin: 1.2rem;
  padding: 2.2rem;
  width: 18rem;
  height: 16rem;
  text-align: center;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.38rem 1.2rem 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem 3.1rem;
}

.HomeBox:hover{
  background-color: #ADD8E6;
}

/* LOGIN E REGISTRAZIONE */

.LoginSignupBox{
	width: 100%;
	max-width: 18rem;
	padding: 0.6rem;
  display: inline-block;
  border: 5px solid #ADD8E6;
  border-radius: 1rem 3.1rem;
}

.LoginSignupBox input[type=text], .LoginSignupBox input[type=password], .LoginSignupBox input[type=email]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  height: 2.2rem;
  margin-bottom: 0.6rem;
}
.LoginSignupBox input[type=text]:focus, .LoginSignupBox input[type=password]:focus, .LoginSignupBox input[type=email]:focus{
    border-bottom: 2px solid #ADD8E6;
}

#errori_login ul{
  list-style-type: disc;
  color: #FF0000;
  text-align: justify;
}
#errori_login ol{
  list-style-type: none;
  color: #000;
  text-align: justify;
}
#errori_registrazione ul{
  list-style-type: disc;
  color: #FF0000;
  text-align: justify;
}
#errori_registrazione ol{
  list-style-type: none;
  color: #000;
  text-align: justify;
}
#errori_newtreno ul{
  list-style-type: disc;
  color: #FF0000;
  text-align: justify;
}
.errori_newtreno ol{
  list-style-type: none;
  color: #000;
  text-align: justify;
}
/* ADMIN PANEL */

.AdminPanelBox {
  display: inline-block;
}
.AdminPanelBox ul{
	list-style: none;

}

/* RICERCA */
#searchTop, #searchPage {
width: 100%;
}

.long{
  width: 25rem;
}

#searchBarBox {
	width: 100%;
background-color: #ADD8E6;
  padding: 1.2rem;
}

h1#outputRicerca {
	margin: 2.5rem;
}

/* UTENTE */
.topUtente {
	display: flex;
	flex-wrap: wrap;
	text-align:left;
	  max-width: 87.5rem;
  margin: auto;
  padding: 1.2rem;
  justify-content: center;
}

.leftCol {
	padding: 1.2rem;
  margin-top: 1.2rem;
  float: left;
  width: 30%;
  height:100%;
  min-width: 16rem;
}

.rightCol {
	  padding: 1.2rem;
  margin-top: 1.2rem;
    float: left;
  width: 70%;
  padding-left: 1.2rem;
}
.rightCol h1{
		text-align:left!important;
}
.userImg{
	background-color: #ADD8E6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.9rem;
  margin-bottom: 1.2rem;
  max-width: 80%;
  min-width: 12.5rem;
  padding: 1.2rem;
}
/* TRENO */
#trainHeader h1, #pref{
	display: inline-block;
}

#schedaTecnica {
	width: 70%;
	margin: auto;
	padding: 0.6rem;
	border: 3px solid #ADD8E6;
	border-radius: 1rem 3.1rem;
}
#schedaTecnica ul {
	list-style: none;
}
#schedaTecnica ul li {
	padding: 3px;
}
#descrizione {
	padding-bottom: 0.6rem;
	border-bottom: 3px solid #ADD8E6;
}

/****commenti da cambiare****/
.comment-section{
    list-style: none;
    max-width: 87.5rem;
    width: 90%;
    margin: 3.1rem auto;
    margin-top: 1.2rem;
    padding: 0.6rem;
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 2.2rem;
    margin-top: 1.2rem;
    flex-wrap: wrap;
	   color: #505050;
}

.data{
  font-size: 0.75em;
}
.comment .info{
    width: 100%;
	order: 3;
}
.eliminacommenti fieldset .button {
	float: right;
}
.comment .info a{
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0 3px 0;
}

.comment p{
    line-height: 1.5em;
    padding: 1rem 1.3rem;
    width: 100%;
    position: relative;
    word-wrap: break-word;
}
.comment p{
    order: 1;
    background-color:  #ADD8E6;
}
.comment p:after{
    width: 0.9rem;
    height: 0.9rem;
    top: initial;
    left: 1.75rem;
    bottom: -6px;
}
#write-new{
    margin: 3.1rem auto 0;
    width: 90%;
    height: 12.5rem;
}
#write-new textarea{
    color:  #444;
    font: inherit;
    outline: none;
    border-radius: 3px;
    border: 2px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width:100%;
    min-height: 5rem;
    padding: 1rem 1.2rem;
}
#write-new textarea:focus{
    border: 3px solid #ADD8E6;
}
#write-new .button{
    cursor: pointer;
    padding: 0.6rem 1.6rem;
    margin-top: 1rem;
}


fieldset{
	border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  width:100%;
}
#deleteButton{
	float: right;
	width: 50%;
}
#commenti {
	text-align: left;
}
#confirmComment{
	display: block;
}
.commentInfo {
	float: left;
}
/* Ricerca Treni */
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.card{
  width: 30%;
  background: #fff;
  border: 3px solid #294173;
  border-radius: 0 1.25rem 1.25rem 0;
  margin-bottom: 3.1rem;
  transition: 0.3s;
}
.card-header{
  /*background-image: url(treno_vapore.jpg);
  background-size: 100% 100%;*/
  color: #fff;
  float:left;
  max-width: 12.5rem;
  max-height: 12.5rem;
  /*#a8c1dc
  #1a1e23*/
}
.card-body{
  padding: 1.25rem 1.25rem;
  text-align: left;
  font-size: 1rem;

}
.card-body ul{
  list-style: none;
}
.card-body ul li{
  text-align: center;
  padding-bottom: 3px;
}
.card-body .btn{
  display: block;
  float: right;
  color: #fff;
  text-align: center;
  background: #294173;
  margin-top: 1.2rem;
  text-decoration: none;
  padding: 0.6rem 0.3rem;
  border-radius: 1rem;
}
.card:hover{
  transform: scale(1.02);

}

.img-left{
  height: 12.5rem;
  width: 12.5rem;
}
@media screen and (max-width: 1000px){
  .card{
    width: 40%;
  }
}
@media screen and (max-width: 620px){
  .container{
    width: 100%;
  }
  .heading{
    padding: 1.25rem;
    font-size: 1.25rem;
  }
  .card{
    width: 80%;
  }
}
p {
	line-height:1.5em;
}

/*404*/
.parent-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 31.2rem;
}

.text-content{
  text-align: center;
}

.text-content h1{
  font-size: 2.5em;
  margin: 1.25rem;
}

.text-content h2{
  font-size: 1.7em;
  text-transform: uppercase;
  margin: 1.25rem;
}

.text-content a{
  text-decoration: none;
  color: #000;
  border: 2px solid #294173;
  padding: 0.9rem 1.4rem;
  margin-top: 1.25rem;
  display: inline-block;
  border-radius: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.4s;
}

.text-content a:hover{
  background: #294173;
  color: #FFF;
}

#img-404{
  margin-top: 3.1rem;
  width: 40%;
}
/*AGGIUNTA PAGINA*/
.inputbar{
  width: 90%;
}
.AggiuntaTreno input[type=text], .AggiuntaTreno input[type=password], .AggiuntaTreno input[type=email]{
  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  height: 3em;
  margin-bottom: 0.6rem;
}
.AggiuntaTreno {
	text-align: left;
	width: 90%;
	margin: auto;
}
.AggiuntaTreno input[type=text]:focus, .AggiuntaTreno input[type=password]:focus, .AggiuntaTreno input[type=email]:focus{
    border-bottom: 2px solid #ADD8E6;
}

.AggiuntaTreno label {
	text-align: left;
}
.AggiuntaTreno .inputbar{
	display: block;
	width: 30%;
	  font-size: 1rem;
  height: 3em;
}
.AggiuntaTreno textarea{
	width: 50%;
}
.AggiuntaTreno .button {
	display: block;
}
.sceltaAggiunta{
	  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  height: 3em;
  margin-bottom: 0.6rem;
}
.sceltaCategorie{
		  border:none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  height: 2.5em;
}
.sceltaDesc {
	  border:none;
  border-bottom: 2px solid #adadad;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  margin-bottom: 0.6rem;
}
.sceltaAggiunta:focus, .sceltaDesc:focus {
	border-bottom: 2px solid #ADD8E6;
}
input[type=file]{
	padding: 0.6rem;
}
.vediTreniCat {
	padding: 0.6rem;
}
.imgCat{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.imgTrainCat{
	margin: 1rem;
	width: 25rem;
	height: 25rem;
}
.trainImg{
	width: 50rem;
	height: 28rem;
}
.userImg{
	width: 18.8rem;
	height: 18.8rem;
}
/*header da mostrare*/
#hrow3{
	padding-top:58.2rem;
	width: 100%;
	height: auto;
	background-color: #294173 /*#1a1e23*/;
	align-items: center;
}
#hrow3 ul{
	list-style: none;
}
#hrow3 li{
	float: none;
	display: block;
}
.blue{
	color: #0000FF;
}
.red{
	color: #FF0000;
}