/*CONTENUTO*/
#content{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  font-size: 150%;

}
#content h1{
  padding: 5px;
}
.style_content{
  background-color: rgba(246,173,123,0.2);
  border-left: 8px solid #f6ad7b;
}

#desc_who{
  padding: 20px;
}

#desc_who h2{
  margin-top: 1em;
}
#desc_contatti {
  list-style-type: none;
  padding: 20px;
}

#desc_contatti p{
  margin-bottom: 1em;
}

#desc_contatti ul{
  list-style-type: none;
  margin: 1em;
}
#desc_contatti ul li{
  padding: 5px;
}
