
* {
  box-sizing: border-box;
  margin: 0em;
  padding: 0;
}
html{
  font-family: sans-serif; /*Verdana, Arial, Helvetica*/
  max-width: 1800px;
  vertical-align: middle;
  margin: auto;
  height: 100%;
  /*background-color: rgba(246,173,123,0.2);*/
}
.clear::after {
  content: "";
  clear: both;
  display: table;
}

.rating-box{
    width: 50px;
    height: 10px;
    display: flex;
}
.rating-box .ratings .fa{
  font-size: 2em;
  color: orange;
  cursor: pointer;

}
