@import url("css_desktop.css");
/*HEADER E FOOTER*/
#hrow_2, #breadcrumb, .topnav{
    display: none;
}
#header{
  width: 100%;
  height: 50px;
}
#hrow_1{
    min-width: 360px;
}
#hamburger{
  float: right;
  height: 70%;
  width: auto;
}
#logo_head{
  margin:10px 0;
}
#user_logo{
  height: 70%;
  width: auto;
  margin-right: 15px;
}
#logo_freccia{
  display: none;
}
#LogoFooter{
  float: none;
  margin: 0 auto;
  display: block;
}
#footer ul{
  display: block;
}
#validity{
  width: 100%;
  margin: 0 auto;
}
#footer ul li{
  margin: 10px;
}
/*Ricetta*/
#ricettaGiorno{
  width: 100%;
}
#ricettaGiorno img{
  object-fit: contain;
  max-width: 100%;
  margin: 0;
}
#textGiorno{
  left: 5%;
  margin-left: 0;
}
/*utente*/
.leftcolumn, .rightcolumn {
  width: 100%;
  padding: 0;
}
/*registrazione*/
#boxwrapper{
  width: 100%;
}
#logInBox, #regisBox{
  margin: 0 auto;
  margin: 30px;
}



/* Responsive styles COMMENT SECTION*/

@media screen and (max-width: 800px){
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }
    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info{
        order: 3;
        text-align: left;
    }
    .comment.user-comment .avatar{
        order: 2;
    }
    .comment.user-comment p{
        order: 1;
    }
    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment{
        justify-content: flex-start;
    }
    .comment-section{
        margin-top: 10px;
    }
    .comment .info{
        width: auto;
    }
    .comment .info a{
        padding-top: 15px;
    }
    .comment.user-comment .avatar,
    .comment.author-comment .avatar{
        padding: 15px 10px 0 18px;
        width: auto;
    }
    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }
    .write-new{
        width: 100%;
    }
}
