* {
  margin: 0em;
  padding: 0;
}
html{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 1800px;
  vertical-align: middle;
  margin: auto;
  color: #222;
  height: 100%;
}
/*HEADER*/
#hrow_1{
  background-color: #fff;
  position: fixed;
  width: 100%;
  max-width: 1800px;
  height: 60px;
  border-bottom: 5px solid #f6ad7b;

}
#hamburger{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 0.5em;
  max-width: 50px;
}
#logo_head{
  height: 50px;
  margin-top: 10px;
}
#user_logo{
  display: inline-block;
  float: right;
  margin-right: 1em;
  margin-left: 2em;
  padding-top: 4px;
  max-width: 35px;
  margin-top: 2px;
}
.topnav{
  margin-top: 5px;
  display: inline-block;
  float: right;

}
.button{
  background-color: white;
  border: 2px solid #f6ad7b;
  color: black;
  padding: 5px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover{
  background-color: #f6ad7b
}
.topnav input[type=text] {
  padding: 9px;
  margin-bottom: 0px;
  margin-right: 5px;
  border-left: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #ccc;
}
#hrow_2{
  padding-top:60px;
}
#menuList {
    list-style-type: none;
    overflow: hidden;
    background-color: #f6ad7b;
}
#menuList li {
    float: left;
}
#menuList li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}
#menuList li a:hover:not(.active) {
    background-color:  rgba(246,173,123,0.2);
}
#menuList li a.active {
    background-color:  rgba(246,173,123,0.4); /*#f6ad7b*/
}
#menuList li.stayright{
  float: right;
}
#breadcrumb ul{
  /*background-color: #f2eee5;*/
  background-color: rgba(246,173,123,0.4);
  list-style-type: none;
}
#breadcrumb li.stayright{
  float: right;
}
#breadcrumb li {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
/*fine HEADER*/
