/*CONTENUTO*/
#content{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  font-size: 120%;
}
#content h1{
  padding: 5px;
}

.style_content{
  background-color: rgba(246,173,123,0.2);
  border-left: 8px solid #f6ad7b;
  padding: 5px;
  margin-bottom: 30px;
}

/*CONTENT*/

#content > h2{
  padding: 10px;
  margin-bottom: 10px;
}

#content > a {
  margin-left: 10px;
}

/*BARRA DI RICERCA*/
#search {
  margin: 5% 5% 5% 5%;
}
#search input[type="text"] {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 1em;
}
#search button {
  width: 15%;
  padding: 12px;
  font-size: 1em;
}

/*RICETTA IN EVIDENZA*/
#flexEvidenza {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.evidenzaBox {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
  border: 8px solid #f6ad7b;
}

.evidenzaBox img {
  margin:5px;
  float: left;
}

.evidenzaBox h2 {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: ;
  padding: 5px;
}

.evidenzaBox p {
  margin-left: 25px;
}

.flex-ricette{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.ricettaBox{
  flex-basis: 450px;
  border: 5px solid #f6ad7b;
  height: 200px;
  margin-bottom: 40px;
}
.ricettaBox img{
  padding: 4px;
  width: 192px;
  height: 192px;
}
.ricettaBox h3{
  vertical-align: top;
  margin: 10px 25px;
  font-size: 30px;
}
.ricettaBox p{
  font-size: 20px;
  margin: 10px 15px;
}
.textwrapper{
  display: inline-block;
  vertical-align: top;
}

/*FUNZIONALITA*/
#flex-funzionalita {
  display: table;
  border-spacing: 10px;
  margin-top: 20px;
  margin: 0 auto;
}

.funzionalitaBox {
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.funzionalitaBox li {
  background-color: #f6ad7b;
  border: 2px solid #ff6666;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
  border-spacing: 5px;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}
