* {
  margin: 0em;
  padding: 0;
}
html{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 1400px;
  vertical-align: middle;
  margin: auto;
}
/*HEADER*/












/*FOOTER*/
#footer{
  position: absolute;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: #faa74d;
  top: 100%;
  width: 100%;
  max-width: 1400px;
  max-height: 45px;
}
#LogoFooter{
  float: left;
  overflow: hidden;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  display: inline-block;
}
#footer ul{
  display: inline-block;
  list-style: none;
  text-align: center;
}
#footer ul li{
  margin: 5px;
}
#validity{
  float: right;
  width: 250px;
}
