* {
  margin: 0em;
  padding: 0;
}
html{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  max-width: 1400px;
  vertical-align: middle;
  margin: auto;
}
/*HEADER*/
#header{
background-color: #faa74d;
}
#hamburger{
  display: inline;
  max-width: 40px;
  margin-left: 0.5em;
  margin-top: 4px;
}
#logo_head{
  display: inline;
  margin-left: 0.5em;
  height: 35px;
  overflow: hidden;
  margin-bottom: 2px;
}
#user_logo{
  display: inline-block;
  float: right;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding-top: 4px;
  max-width: 35px;
  margin-top: 2px;
}
#topnav{
  margin-top: 5px;
  display: inline-block;
  float: right;

}

#menuList {
    list-style-type: none;
    overflow: hidden;
    background-color: #444;
}
#menuList li {
    float: left;
}
#menuList li a {
    display: inline-block;
    color: #faa74d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bolder;
}
#menuList li a:hover:not(.active) {
    background-color: #555;
}
#menuList li a.active {
    background-color: #333;
}
li#rightList{
  float: right;
}








/*FOOTER*/
#footer{
  position: absolute;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  background-color: #faa74d;
  top: 100%;
  width: 100%;
  max-width: 1400px;
  max-height: 45px;
}
#LogoFooter{
  float: left;
  overflow: hidden;
  height: 50px;
  width: 250px;
  margin-left: 10px;
  display: inline-block;
}
#footer ul{
  display: inline-block;
  list-style: none;
  text-align: center;
}
#footer ul li{
  margin: 5px;
}
#validity{
  float: right;
  width: 250px;
}
