.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 70px;
  left: 0;
  background-color: rgba(1,1,1,0.92);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(230,230,230);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgba(246,173,123,1);
}
.sidenav li:hover {
  border-left: 3px solid rgba(246,173,123,1);
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* MENU A DESTRA */
@media screen and (max-width: 720px) {
  .sidenav {
    left:auto;
    right: 0;
  }
}
