/*CONTENUTO*/
#content{
  max-width: 1400px; /*più stretto del body che è 1800*/
  margin: auto;
  margin-top:20px;
  padding: 2em 2em;
  color:#000!important;
  background-color:#f1f1f1!important;
}
#intro h2{
  padding: 5px;
  font-size: 1.6em;
  float: left;
  padding: 10px 10px;
  background-color: #fff;
  width: 30%;
}

#intro{
  max-width: 100%;
  background-color: #f1f1f1;
  margin: auto;
  border-left: 4px solid rgba(246,173,123,1);
}

.row{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  background-color: #fff;
  border-right: 4px solid rgba(246,173,123,1);
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

h3{
  margin-left:20px;
  font-size: 1.3em;
  padding-top:20px;
}
.row p{
  padding: 20px;
}

h4{
  margin-left:20px;
  font-size: 1em;
}

.row ul{
  list-style-type: none;
  margin-left: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
}
.row li{
  padding: 2px;
}
